html {
  font-family: poppins;
}

body {
  width: 300px;
  max-width: 750px;
  min-width: 480px;
  margin: 0 auto;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
}

.lastResult {
  color: white;
  padding: 7px;
}

.guesses {
  color: white;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
  /* margin-left: 50px; */
}

#subt:hover {
  color: darkseagreen;
}

#subt {
  background-color: #161616;
  color: #ffffff;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border-style: none;
  margin-top: 20px;
  border-radius: 24px;
  /* margin-left: 75px; */
}

#guessField {
  color: #000;
  width: 280px;
  height: 40px;
  font-size: 16px;
  margin-top: 25px;
  /* margin-left: 50px; */
  border: 5px solid #6c6d6d;
  text-align: center;
}

#guess {
  font-size: 20px;
  /* margin-left: 90px; */
  margin-top: 120px;
  color: #fff;
}

#wrapper {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  width: auto;
  font-size: 25px;
}

h1 {
  background-color: #525252;
  padding: 5px;
  color: #fff;
  border-radius: 24px;
  text-align: center;
  font-size: 30px;
}

p {
  font-size: 16px;
  text-align: center;
}

.reset {
  color: aliceblue;
  text-decoration: none;
}

.reset:hover {
  color: brown;
}

li {
  font-size: 18px;
}
